
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #43617D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-item{
  color: #43617D !important;
}

nav a {
  color: white !important;
}

body {
  background-color: #b5d3db;
}

span {
  color: red;
}

ul {
  list-style-type: none;
}

.card-header {
}

.card-body {
  background-color: #fff;
}